php_value magic_quotes_gpc "off"
php_value register_globals "off"
php_flag "allow_url_fopen" "On"
php_flag "allow_url_include" "On"
php_value output_buffering "Off"
<IfModule mod_php5.c>
   php_value short_open_tag 1
 </IfModule>

php_flag display_errors on

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ web/front.php/$1 [QSA,L]
